#delivery-main{
   
    width: 100%;
    height: calc(100% + 660px);
    margin-top: -466px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    display: flex;
    justify-content: center;
    display: none;
  
    
}
.delivery-container{
    width: 684px;
    height: 432px;
    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
  
    
    
}
.delivery-img{
    position: absolute;
    width: 342px;
    height: 432px;
    background-color:#FFAB08;
    overflow: hidden;
    border-radius:   24px 0 0 24px;
}
.delivery-img > img {
    margin: 70px 19px;
}

.delivery-form{
    background-color: #f0f0f1;
    position: absolute;
    width: 342px;
    height: 432px;
    margin-left: 342px;
    border-radius:  0 24px   24px 0;

}
.form-head {
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    margin: 44px 0 0 24px;
    display: inline-block;
   
}
.delivery-close{
    position: absolute;
    border: none;
    margin-top: 29px;
    margin-left: 167px;
}
.main-form{
    margin-top: 16px;
    margin-left: 24px;
}
.main-form > .radio {
    margin-top: 8px;
    
    font-size: 12px
}

.main-form > .radio > input {
    color: #000000;
    margin-right: 8px;
    margin-bottom: 6px;
    
}

.main-form > input ,
#for_delivery > input{
    margin-bottom: 8px;
    padding: 12px;
    width: 294px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F3;
    border-radius: 12px;

}
.main-form > #for_delivery > .row-input{
    display: flex;
}
.main-form > #for_delivery >.row-input > input {
    width: 143px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #F2F2F3;
    border-radius: 12px;
    margin-right: 8px;
    padding: 12px;
    
}
#form-submit{
    margin-top: 28px;
    background-color:#F9F9F9;
     
    
}
#form-submit:hover{
    background-color:#FF7020;
    color: #FFFFFF;
}


/* .delivery_inputs{
    display: none;
} */