*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
       
}
.header-main{
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center ;
    height: 466px;
    overflow-x:hidden;
}
.yellow-elipse{
    position: absolute;
    width: 2880px;
    height: 2880px;
    background-color: #FFAB08;
    border-radius: 50%;
    margin-top: -2414px;
    
}

.content-container{
    position: absolute;
    display: inline-block;
    margin-top: 77px;
    width: 784px;
    height: 326px;
    color: #FFFFFF;
}
#head-paragraph {
    margin-left: 347px;
    margin-top: 218px;
    
   
}
.burger-img{
    position: absolute;
    margin-top: 26px;
    margin-left: 36px;
}
#hd-container-text{
    margin-top: 46px;
    margin-left: 347px;
    font-size: 50px;
    font-weight: 800;
    width: 437px;
    height: 120px;
    
    
}
#hd-container-text > span {
    color: #FF5C00;
   
}